<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><% TITLE %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://files.jcink.net/uploads2/starlight/assets/jcink.css"
    />
    <link
      rel="stylesheet"
      href="https://files.jcink.net/uploads2/starlight/assets/main.css"
    />
    <% CSS %>
    <script src="https://files.jcink.net/html/jquery-3.7.1.min.js"></script>
  </head>

  <body>
    <div id="tsparticles"></div>
    <div id="starlight">
      <div class="stlite">
        <div class="header-top">
          <ul class="strlite-nav">
            <li><a href="#">home</a></li>
            <li><a href="#">member groups</a></li>
            <li><a href="#">roster</a></li>
            <li><a href="#">lore</a></li>
          </ul>
          <div class="quick-links">
            <a href="#">active topics</a>
            <a href="#">new posts</a>
          </div>
        </div>
        <div class="header-body">
          <div class="stlite-header">
            <h1 class="stlite-title"><em>starlight</em></h1>
            <h2 class="stlite-subtitle">
              All the souls that would die just to feel alive
            </h2>
          </div>
        </div>
        <div class="header-footer">
          <span class="designation"><x>STR-L18</x> // <y>STARLIGHT</y></span>
          <div id="navi"><% NAVIGATION %></div>
        </div>

        <div class="strlite-content">
          <div class="split-layout">
            <div class="boards-wrapper"><% BOARD %> <% COPYRIGHT %></div>

            <div class="strail">
              <div class="floaty-mcfloat g{{ gid }}">
                <div class="header">
                  <span>identity</span>
                  <a href="?showuser=">Arden St. Clair-Moreau</a>
                </div>
                <div class="user-controls">
                  <div class="avatar">
                    <img
                      src="https://64.media.tumblr.com/07ddb4598c49ec3997f6240425d31c1c/b6fbfb9d38209845-cf/s540x810/8aec44bde6ca1d23712cf435cca067070b820348.gifv"
                    />
                  </div>
                  <div class="controls">
                    <a href="#">edit profile</a>
                    <a href="#"><span>0</span> alerts</a>
                    <a href="#"><span>0</span> messages</a>
                    <a href="#">sign out</a>
                    <a href="#">admin cp</a>
                  </div>
                </div>

                <div style="height: 1.5rem"></div>

                <div class="header">
                  <span>recent</span>
                  topics
                </div>
                <ul class="recent-topics-list">
                  <li class="rt-item">
                    <span class="rt-date">13 seconds ago</span>
                    <a href="#" class="rt-topic"> cold damn vampires </a>
                    <a class="rt-author" href="#">Arden St. Clair-Moreau</a>
                  </li>
                  <li class="rt-item">
                    <span class="rt-date">13 seconds ago</span>
                    <a href="#" class="rt-topic"> all i hear is heavy metal </a>
                    <a class="rt-author" href="#">Cleo Søderberg-Hawthorne</a>
                  </li>
                  <li class="rt-item">
                    <span class="rt-date">13 seconds ago</span>
                    <a href="#" class="rt-topic"> empty rooms</a>
                    <a class="rt-author" href="#">Asker Vandenberg</a>
                  </li>
                  <li class="rt-item">
                    <span class="rt-date">13 seconds ago</span>
                    <a href="#" class="rt-topic"> cold damn vampires </a>
                    <a class="rt-author" href="#">Arden St. Clair-Moreau</a>
                  </li>
                  <li class="rt-item">
                    <span class="rt-date">13 seconds ago</span>
                    <a href="#" class="rt-topic"> all i hear is heavy metal </a>
                    <a class="rt-author" href="#">Cleo Søderberg-Hawthorne</a>
                  </li>
                  <li class="rt-item">
                    <span class="rt-date">13 seconds ago</span>
                    <a href="#" class="rt-topic"> empty rooms</a>
                    <a class="rt-author" href="#">Asker Vandenberg</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://files.jcink.net/uploads2/starlight/assets/tsparticles.js"></script>
  </body>
</html>

<!doctype html>
<html>
  <head>
    <title><% TITLE %></title>
    <link
      rel="stylesheet"
      href="https://files.jcink.net/uploads2/starlight/assets/jcink.css"
    />
    <link
      rel="stylesheet"
      href="https://files.jcink.net/uploads2/starlight/assets/main.css"
    />
    <% CSS %>
    <script src="https://files.jcink.net/html/jquery-3.7.1.min.js"></script>
  </head>
  <body>
    <div id="wrapper">
      <div id="logo">
        <a href="index.php"><!-- |board_name| --></a>
      </div>
      <% BOARD HEADER %>
      <div id="innerwrapper">
        <div id="navi"><% NAVIGATION %></div>
        <% BOARD %> <% COPYRIGHT %>
      </div>
    </div>
    <script src="https://files.jcink.net/uploads2/starlight/assets/tsparticles.js"></script>
  </body>
</html>
