/* SAGE District */
.fid-1 {
  .board-image-img {
    background-image: url("https://images.unsplash.com/photo-1787676173183-71292f3d97ea?q=80&w=774&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  }
}

/* Grand Central */
.fid-3 {
  .board-image-img {
    background-image: url("https://images.unsplash.com/photo-1571942662090-0d81d067ca19?q=80&w=774&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  }
}

/* Sierra */
.fid-4 {
  .board-image-img {
    background-image: url("https://images.unsplash.com/photo-1729785386828-495cc2292013?q=80&w=774&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  }
}

/* Eden */
.fid-5 {
  .board-image-img {
    background-image: url("https://images.unsplash.com/photo-1765739099940-83ce53c649b7?q=80&w=774&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  }
}

/* Little Scandinavia */
.fid-6 {
  .board-image-img {
    background-image: url("https://images.unsplash.com/photo-1790213936581-ad03193de141?q=80&w=774&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  }
}

/* Erstwhile */
.fid-7 {
  .board-image-img {
    background-image: url("https://images.unsplash.com/photo-1602521519815-85c4548bff5e?q=80&w=772&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  }
}

/* Commercial */
.fid-8 {
  .board-image-img {
    background-image: url("https://images.unsplash.com/photo-1609163717735-7d06aae6bbb6?q=80&w=834&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  }
}

/* Residential */
.fid-9 {
  .board-image-img {
    background-image: url("https://images.unsplash.com/photo-1556282631-b0080557e4d8?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  }
}

/* The Mere */
.fid-10 {
  .board-image-img {
    background-image: url("https://images.unsplash.com/photo-1766650186677-947f1740a94d?q=80&w=774&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  }
}

/* Space Port */
.fid-11 {
  .board-image-img {
    background-image: url("https://images.unsplash.com/photo-1788248003345-774e3adb388f?q=80&w=792&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  }
}

/* Fringes */
.fid-12 {
  .board-image-img {
    background-image: url("https://images.unsplash.com/photo-1603074941234-d64de4fa706c?q=80&w=774&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  }
}
