@use "variables" as *;
@use "helpers" as *;

.boards-wrapper {
  .category-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 4rem;

    &.no-mb {
      margin-bottom: 0;
    }

    .category-title {
      font-size: rem(10);
      text-transform: uppercase;
      letter-spacing: rem(1);
      display: flex;
      gap: 1rem;

      span {
        color: var(--color-zinc);
        display: flex;
        align-items: center;
        gap: .5rem;

        &::after {
          content: "";
          width: 35px;
          height: 1px;
          background-color: var(--color-dark);
        }
      }

      a {
        color: var(--color-accent1);
      }
    }
  }

  .board {
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid #000;
    backdrop-filter: blur(4px);
    padding: 1rem;
    background: linear-gradient(to bottom right, rgb(var(--groupr-main) / 0.2), rgb(var(--groupr-accent) / 0.2));
    display: flex;
    gap: 1rem;
    align-items: start;
    box-shadow: var(--shadow-glass);

    .board-image {
      display: flex;
      flex-direction: column;

      .board-image-img {
        position: relative;
        border-radius: 0.5rem;
        overflow: hidden;
        width: rem(270);
        height: rem(446);
        background-size: cover;
        background-position: center;

        box-shadow:
          0 6px 16px rgb(0 0 0 / 0.25);

        &::after {
          content: "";
          position: absolute;
          inset: 0;
          border-radius: inherit;
          pointer-events: none;

          box-shadow:
            inset 1px 1px rgb(90 90 90 / 0.35),
            inset -1px -1px 0 rgb(0 0 0 / 0.3);
        }
      }
    }

    .board-area {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .board-info {
        border-radius: 0.5rem;
        border: 1px solid #000;
        backdrop-filter: blur(4px);
        padding: 1.5rem;
        background: rgb(0 0 0 / .2);
        display: flex;
        flex-direction: column;
        gap: .5rem;
        box-shadow: var(--shadow-glass);

        .board-title {
          width: 100%;
          display: flex;
          flex-direction: column;

          span {
            font-size: rem(10);
            color: var(--color-zinc);
            text-transform: uppercase;
            letter-spacing: rem(1);
          }

          .title-href {
            font-family: var(--font-heading);
            font-size: rem(36);
            text-transform: uppercase;
            letter-spacing: rem(2);
            font-style: italic;
            color: var(--color-accent1);
          }

          .board-count {
            display: flex;
            gap: 1rem;
            margin-bottom: 0.5rem;

            .topic-count,
            .reply-count {
              color: var(--color-light);

            }

            .topic-count {
              display: flex;
              gap: 1rem;
              align-items: center;

              &::after {
                content: "";
                width: 35px;
                height: 1px;
                background: var(--color-stone);
              }
            }
          }
        }

        .board-description {
          text-align: justify;
          padding-right: 0.5rem;
          height: rem(170);
          overflow: auto;
          overflow-x: hidden;
          line-height: 1.6;
          margin-bottom: 0.75rem;
        }
      }

      .board-status {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .last-poster-av {
          position: relative;
          border-radius: 0.5rem;
          overflow: hidden;
          width: rem(120);
          aspect-ratio: 1;

          box-shadow:
            0 6px 16px rgb(0 0 0 / 0.25);

          &::after {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: inherit;
            pointer-events: none;

            box-shadow:
              inset 1px 1px rgb(90 90 90 / 0.35),
              inset -1px -1px 0 rgb(0 0 0 / 0.3);
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 0.5rem;
            border: 1px solid var(--color-dark);
            display: block;
          }
        }

        .last-poster-stats {
          flex: 1;
          text-align: right;
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          gap: 0.5rem;

          .latest-topic {
            margin-top: 0.5rem;
            border-radius: 0.5rem;
            background: linear-gradient(to bottom right, rgb(var(--rgb-accent3) / 0.2), rgb(var(--rgb-accent1) / 0.2));
            backdrop-filter: blur(4px);
            border: 1px solid #000;
            padding: rem(6) rem(12);
            font-size: rem(12);
            text-transform: uppercase;
            letter-spacing: rem(2);
            transition: all 0.1s 0.15s ease;
            box-shadow: var(--shadow-glass);


            &:hover {
              box-shadow: var(--glass-hover);
            }

            &:active {
              transform: translateY(1px);
              box-shadow: var(--glass-hover);
            }
          }

          .stat-item {
            display: grid;
            grid-template-columns: 1fr rem(35) rem(50);
            gap: 1rem;
            text-transform: uppercase;
            letter-spacing: rem(1);
            font-size: rem(10);
            align-items: center;

            span {
              color: var(--color-stone);
              text-align: right;
            }

            .sep {
              width: 100%;
              height: 1px;
              background: var(--color-stone);
            }
          }
        }
      }
    }
  }
}

.board-stats {
  width: 100%;

  .stats-area {
    margin-top: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;

    .onlines {
      border-radius: 0.5rem;
      width: 100%;
      background: linear-gradient(to bottom right, rgb(var(--rgb-dark) / 0.2), rgb(var(--rgb-dark-contrast) / 0.2));
      backdrop-filter: blur(4px);
      border: 1px solid #000;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      box-shadow: var(--shadow-glass);

      .online-list,
      .today-list {
        margin-bottom: 1rem;
      }

      .online-list {
        text-transform: uppercase;
        font-size: rem(14);
        letter-spacing: rem(1);
        font-weight: 700;

        a {
          display: inline-block;

          span {
            color: var(--groupc-main);
          }
        }
      }

      .today-list {
        text-transform: uppercase;
        letter-spacing: rem(1);
        font-size: rem(12);

        a {
          display: inline-block;
        }
      }

      .header {
        display: flex;
        gap: .5rem;
        font-size: rem(10);
        text-transform: uppercase;
        letter-spacing: rem(1);

        .ttle {
          x {
            color: var(--color-accent1);
            display: inline-block;
          }
        }

        .prefix {
          color: var(--color-stone);
          display: flex;
          align-items: center;
          gap: .5rem;

          &::after {
            content: "";
            width: 35px;
            height: 1px;
            background-color: var(--color-dark);
          }
        }
      }
    }
  }
}

@include down(md) {
  .boards-wrapper {
    .board-stats {
      .stats-area {
        .onlines {
          .header {
            .prefix {
              display: none;
            }
          }
        }
      }
    }

    .board {
      padding: 0.5rem;

      .board-image {
        display: none;
      }

      .board-area {
        .board-status {
          flex-direction: column;
          gap: 0.5rem;

          .last-poster-av {
            display: none;
          }

          .last-poster-stats {
            align-items: center;
            gap: 0.25rem;

            .stat-item {
              grid-template-columns: 1fr;

              &:first-of-type {
                color: var(--color-zinc);
              }

              &:last-of-type {
                font-size: rem(14);
              }

              .sep,
              span {
                display: none;
              }
            }

            .latest-topic {
              margin-top: 0;
            }
          }
        }

        .board-info {
          .board-title {
            .title-href {
              font-size: rem(24);
            }
          }
        }
      }
    }
  }
}
