@use "variables" as *;

@use "helpers" as *;

html,
body {
  margin: 0;
  width: 100%;
  font-family: var(--font-body);
  color: var(--color-light);
  font-size: 16px;
  background-color: #110c22;
  scrollbar-width: thin;
  scrollbar-color:
    rgb(var(--rgb-light) / 0.25) transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scrollbar-gutter: stable;
}

html:has(dialog[open]) {
  overflow: hidden;
}

/* Chromium / Safari */
html::-webkit-scrollbar {
  width: 6px;
}

html::-webkit-scrollbar-track {
  background: transparent;
}

html::-webkit-scrollbar-thumb {
  background: rgb(var(--rgb-light) / 0.2);
  border-radius: 999px;
}

html::-webkit-scrollbar-thumb:hover {
  background: rgb(var(--rgb-light) / 0.4);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
}

img:not([src]),
img[src=""] {
  display: none !important;
}

.idx .floaty-mcfloat {
  .refresh-recent {
    display: none;
  }
}

.floaty-mcfloat {
  border-radius: 0.5rem;
  width: 100%;
  background: linear-gradient(to bottom, rgb(var(--rgb-dark) / 0.2), rgb(var(--rgb-dark-contrast) / 0.2));
  backdrop-filter: blur(rem(4));
  border: 1px solid #000;
  padding: 1rem;
  margin-top: 0;

  box-shadow:
    /* outside depth */
    0 8px 24px rgb(0 0 0 / 0.15),

    /* bright upper/left inner edge */
    inset 1px 1px 0 rgb(90 90 90 / 0.35),

    /* darker lower/right inner edge */
    inset -1px -1px 0 rgb(0 0 0 / 0.15);

  .header {
    display: flex;
    gap: .5rem;
    font-size: rem(10);
    text-transform: uppercase;
    letter-spacing: rem(1);

    span {
      color: #666;
      display: flex;
      align-items: center;
      gap: .5rem;

      &::after {
        content: "";
        width: rem(35);
        height: rem(1);
        background-color: var(--color-dark);
      }
    }

    .refresh-recent {
      margin-left: auto;
      background: transparent;
      border: transparent;
      font-family: "DejaVu Sans", "Segoe UI Symbol", sans-serif;
      color: var(--color-light);
      text-transform: uppercase;
      letter-spacing: rem(1);
      font-size: rem(12);
      cursor: pointer;

      .is-refreshing {
        animation: spin 1s linear infinite;
      }
    }

    a {
      color: var(--groupc-main);
    }
  }

  .separator {
    width: 100%;
    margin: 1.5rem auto;
    height: rem(1);
    background-image: linear-gradient(to right, rgb(var(--rgb-dark) / 0.1), rgb(var(--rgb-dark) / 0.6), rgb(var(--rgb-dark) / 0.1));
  }

  .user-controls {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
    align-items: center;

    .avatar {
      position: relative;
      border-radius: 0.5rem;
      overflow: hidden;
      width: rem(103);
      background-size: cover;
      background-image: url('https://i.pinimg.com/1200x/35/93/47/359347657af157cd8f7ac0ac13480d17.jpg');
      aspect-ratio: 1;

      box-shadow:
        0 6px 16px rgb(0 0 0 / 0.25);

      &::after {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: inherit;
        pointer-events: none;

        box-shadow:
          inset 1px 1px 0 rgb(var(--groupr-main) / 0.35),
          inset -1px -1px 0 rgb(0 0 0 / 0.3);
      }

      img {
        width: rem(103);
        height: 100%;
        object-fit: cover;
        border-radius: .5rem;
        border: 1px solid var(--color-dark);
        display: block;
      }
    }


    .controls {
      flex: 1;
      display: flex;
      flex-flow: row wrap;
      align-items: baseline;
      gap: 0.5rem;

      a {
        border-radius: rem(8);
        background: linear-gradient(to bottom, rgb(var(--rgb-dark) / 0.2), rgb(var(--rgb-dark-contrast) / 0.2));
        backdrop-filter: blur(4px);
        border: 1px solid #000;
        padding: rem(6) rem(12);
        font-size: rem(10);
        text-transform: uppercase;
        letter-spacing: rem(1);
        transition: all 0.1s 0.15s ease;

        box-shadow:
          /* outside depth */
          0 8px 24px rgb(0 0 0 / 0.15),

          /* bright upper/left inner edge */
          inset 1px 1px 0 rgb(90 90 90 / 0.35),

          /* darker lower/right inner edge */
          inset -1px -1px 0 rgb(0 0 0 / 0.15);

        span {
          color: var(--color-accent1);
        }

        &:hover {
          box-shadow:
            0 12px 32px rgb(0 0 0 / 0.22),
            inset 1px 1px 0 rgb(120 120 120 / 0.45),
            inset -1px -1px 0 rgb(0 0 0 / 0.18);
        }

        &:active {
          transform: translateY(1px);

          box-shadow:
            0 4px 12px rgb(0 0 0 / 0.15),
            inset 2px 2px 3px rgb(0 0 0 / 0.2),
            inset -1px -1px 1px rgb(255 255 255 / 0.08);
        }
      }
    }
  }

  .recent-topics-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;
    max-height: rem(350);
    overflow-y: auto;

    .rt-item {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      .rt-topic {
        width: fit-content;
        border-radius: rem(8);
        background: linear-gradient(to bottom right, rgb(var(--rgb-accent3) / 0.2), rgb(var(--rgb-accent1) / 0.2));
        backdrop-filter: blur(rem(4));
        border: 1px solid #000;
        padding: rem(4) rem(8);
        font-size: rem(10);
        text-transform: uppercase;
        letter-spacing: rem(1);
        transition: all 0.1s 0.15s ease;

        box-shadow:
          /* outside depth */
          0 8px 24px rgb(0 0 0 / 0.15),

          /* bright upper/left inner edge */
          inset 1px 1px 0 rgb(90 90 90 / 0.35),

          /* darker lower/right inner edge */
          inset -1px -1px 0 rgb(0 0 0 / 0.15);

        &:hover {
          box-shadow:
            0 12px 32px rgb(0 0 0 / 0.22),
            inset 1px 1px 0 rgb(120 120 120 / 0.45),
            inset -1px -1px 0 rgb(0 0 0 / 0.18);
        }

        &:active {
          transform: translateY(rem(1));

          box-shadow:
            0 4px 12px rgb(0 0 0 / 0.15),
            inset 2px 2px 3px rgb(0 0 0 / 0.2),
            inset -1px -1px 1px rgb(255 255 255 / 0.08);
        }
      }

      .rt-date {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-size: rem(10);
        letter-spacing: rem(1);
        text-transform: uppercase;
        color: #999;

        &::after {
          content: "//"
        }
      }

      .rt-author {
        color: var(--color-accent1);
        font-size: rem(10);
        letter-spacing: rem(1);
        text-transform: uppercase;

      }
    }
  }
}

#tsparticles {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

#starlight {
  position: relative;
  z-index: 1;

  .stlite {
    margin-inline: auto;
    width: min(100% - 2rem, 1440px);
    margin-top: rem(24);

    .nstart {
      color: #666;

      &.sep {
        margin: 0 0.5rem;
      }
    }

    .header-top {
      border-radius: rem(8);
      width: 100%;
      background: rgb(var(--rgb-dark) / 0.4);
      backdrop-filter: blur(4px);
      border: 1px solid var(--color-dark);
      padding: rem(12) rem(20);
      font-size: rem(12);
      display: flex;
      justify-content: space-between;

      box-shadow:
        /* outside depth */
        0 8px 24px rgb(0 0 0 / 0.15),

        /* bright upper/left inner edge */
        inset 1px 1px 0 rgb(90 90 90 / 0.35),

        /* darker lower/right inner edge */
        inset -1px -1px 0 rgb(0 0 0 / 0.15);

      &.dark {
        background: rgb(0 0 0 / 0.4);
        border: 1px solid #000;
      }

      .strlite-nav {
        list-style: none;
        counter-reset: item;
        display: flex;
        gap: 1rem;
        align-items: center;


        li {
          counter-increment: item;
          text-transform: uppercase;
          letter-spacing: rem(1);
          display: flex;
          align-items: center;
          gap: rem(8);

          a {
            transition: all 0.1s 0.1s ease;

            &:hover {
              font-style: italic;
              color: var(--color-accent2);
            }
          }

          &::before {
            content: "0" counter(item);
            color: #666;
          }

          &::after {
            content: "";
            width: rem(35);
            height: rem(1);
            background: var(--color-dark);
            margin-left: rem(8);
          }

          &:last-of-type {
            &::after {
              display: none;
            }
          }
        }
      }

      .quick-links {
        display: flex;
        gap: 1rem;
        align-items: center;

        .cmd {
          display: flex;
          gap: 0.25rem;
          align-items: center;
          color: var(--color-light);
          font-family: var(--font-body);
          text-transform: uppercase;
          letter-spacing: rem(1);
          font-size: rem(12);
          padding: 0.25rem 0.5rem;
          color: #666;
          border-radius: 0.5rem;
          background: rgb(0 0 0 / 0.2);
          border: 1px solid rgb(0 0 0 / .8);
          cursor: pointer;

          .keycode {
            display: grid;
            place-items: center;
          }
        }

        a {
          text-transform: uppercase;
          letter-spacing: rem(1);
          display: flex;
          align-items: center;
          gap: 0.5rem;
          color: #666;
          transition: all 0.1s 0.1s ease;

          &:hover {
            color: var(--color-light);
            font-style: italic;
          }

          &::after {
            content: "";
            width: rem(35);
            height: rem(1);
            background: var(--color-dark);
            margin-left: rem(8);
          }

          &:last-of-type {
            &::after {
              display: none;
            }
          }
        }
      }
    }

    .header-body {
      width: 100%;
      padding: rem(45);
      height: rem(800);
      display: grid;
      place-items: center;

      .stlite-title {
        font-family: var(--font-heading);
        text-transform: uppercase;
        color: var(--color-light);
        font-size: rem(92);
        font-weight: 400;
        letter-spacing: rem(4);
        display: flex;
        flex-flow: row nowrap;
        gap: rem(40);
        align-items: center;

        &::before {
          content: "";
          display: block;
          width: rem(310);
          height: rem(1);
          background: rgb(var(--rgb-light) / 0.3);
        }
      }

      .stlite-subtitle {
        font-size: rem(14);
        color: var(--color-accent1);
        text-transform: lowercase;
        letter-spacing: rem(1);
        font-weight: 400;
        text-align: center;
      }
    }

    .header-footer {
      border-radius: 0.5rem;
      width: 100%;
      background: rgb(0 0 0 / 0.4);
      backdrop-filter: blur(4px);
      border: 1px solid #000;
      padding: rem(12) rem(20);
      font-size: rem(10);
      text-transform: uppercase;
      letter-spacing: rem(1);
      display: flex;
      align-items: center;
      gap: 0.5rem;

      box-shadow:
        /* outside depth */
        0 8px 24px rgb(0 0 0 / 0.15),

        /* bright upper/left inner edge */
        inset 1px 1px 0 rgb(90 90 90 / 0.35),

        /* darker lower/right inner edge */
        inset -1px -1px 0 rgb(0 0 0 / 0.15);

      .designation {
        x {
          display: inline-block;
          color: #999;
        }

        y {
          display: inline-block;
          color: var(--color-accent1);
        }
      }
    }

    .strlite-content {
      margin: rem(75) 0;
      margin-bottom: rem(24);
      width: 100%;

      .split-layout {
        position: relative;
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(320px, 360px);
        gap: 1rem;
        align-items: start;
      }

      .boards-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;


      }

      .strail {
        position: sticky;
        top: 1rem;
      }
    }
  }
}

#help-popup {
  position: fixed;
  inset: auto;
  margin: 0;
  position-area: bottom span-right;
  position-try-fallbacks: flip-block, flip-inline;
  margin-top: rem(8);
  background: transparent;
  border: none;
  width: rem(320);

  .popover-content {
    border-radius: 0.5rem;
    border: 1px solid #000;
    backdrop-filter: blur(4px);
    padding: 0.5rem;
    background: rgb(var(--rgb-dark-contrast) / .8);
    color: var(--color-light);
    display: flex;
    font-size: rem(14);
    flex-direction: column;
    box-shadow:
      /* outside depth */
      0 8px 24px rgb(0 0 0 / 0.15),

      /* bright upper/left inner edge */
      inset 1px 1px 0 rgb(90 90 90 / 0.35),

      /* darker lower/right inner edge */
      inset -1px -1px 0 rgb(0 0 0 / 0.15);

    strong,
    b {
      color: var(--color-accent1);
    }
  }
}

.field-help {
  aspect-ratio: 1;
  color: #999;
  border: 1px solid transparent;
  border-bottom: rem(1) dashed var(--color-light);
  background: transparent;
  text-transform: uppercase;
  font-family: var(--font-body);
  letter-spacing: rem(1);
  font-size: rem(12);
  color: inherit;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-right: 0.25rem;
}

#emojitool {
  position: fixed;
  inset: auto;
  margin: 0;
  position-area: bottom span-left;
  position-try-fallbacks: flip-block, flip-inline;
  margin-top: rem(8);
  background: transparent;
  border: none;
  width: rem(320);

  .emoji-content {
    border-radius: 0.5rem;
    border: 1px solid #000;
    backdrop-filter: blur(4px);
    padding: 0.5rem;
    background: linear-gradient(to bottom right, rgb(var(--rgb-dark) / 0.4), rgb(var(--rgb-dark-contrast) / 0.4));
    color: var(--color-light);
    display: flex;
    flex-direction: column;
    box-shadow:
      /* outside depth */
      0 8px 24px rgb(0 0 0 / 0.15),

      /* bright upper/left inner edge */
      inset 1px 1px 0 rgb(90 90 90 / 0.35),

      /* darker lower/right inner edge */
      inset -1px -1px 0 rgb(0 0 0 / 0.15);

    .search-wrapper {
      width: 100%;
      background: rgb(0 0 0 / 0.4);
      border: 1px solid #000;
      border-radius: 0.5rem;
      display: flex;
      gap: 0.25rem;

      .emoji-search {
        width: 100%;
        padding: 0.5rem;
        font-size: rem(12);
        letter-spacing: rem(1);
        background: transparent;
        border: transparent;
        color: var(--color-light);
        border-radius: 0.5rem;

        &:focus-visible,
        &:focus {
          outline: rem(1) solid var(--color-accent3);
        }
      }
    }

    .emoji-item {
      display: grid;
      place-items: center;
      aspect-ratio: 1;
      background: transparent;
      border: 1px solid transparent;
      text-transform: uppercase;
      font-family: var(--font-body);
      letter-spacing: rem(1);
      font-size: 1rem;
      color: inherit;
      border-radius: 0.5rem;
      cursor: pointer;

      &:hover {
        background: rgb(0 0 0 / 0.2);
        border: 1px solid rgb(var(--rgb-dark) / 0.4);
        border-radius: 0.5rem;
      }

      &:focus-visible,
      &:focus {
        outline: rem(1) solid var(--color-accent3);
      }
    }

    .emoji-tone {
      display: grid;
      place-items: center;
      aspect-ratio: 1;
      background: transparent;
      border: 1px solid transparent;
      text-transform: uppercase;
      font-family: var(--font-body);
      letter-spacing: rem(1);
      font-size: rem(16);
      color: inherit;
      border-radius: 0.5rem;
      cursor: pointer;
      margin-right: 0.25rem;
    }

    .emoji-results {
      display: grid;
      margin-top: 0.5rem;
      grid-template-columns: repeat(auto-fill, minmax(36px, 1fr));
      gap: 0.25rem;
      max-height: rem(300);
      align-items: start;
      overflow-y: auto;
    }
  }
}

.markdown-toolbar {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  align-items: center;


  .markdown-actions,
  .bbcode-actions {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    .md-sep {
      width: rem(1);
      height: rem(20);
      background: var(--color-dark);
    }
  }

  button {
    background: transparent;
    border: 1px solid transparent;
    text-transform: uppercase;
    font-family: var(--font-body);
    letter-spacing: rem(1);
    color: inherit;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.5rem;
    display: grid;
    place-items: center;

    &:hover {
      background: rgb(0 0 0 / 0.2);
      border: 1px solid rgb(var(--rgb-dark) / 0.4);
      border-radius: 0.5rem;
    }

    &[popovertarget="emojitool"] {

      :root:has(#emojitool:popover-open) & {
        background: rgb(0 0 0 / 0.2);
        border: 1px solid rgb(var(--rgb-dark) / 0.4);
        border-radius: 0.5rem;
      }
    }
  }

}

@keyframes glow-flicker {

  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    box-shadow:
      0 0 6px rgb(var(--groupr-main) / 80%),
      0 0 14px rgb(var(--groupr-main) / 25%);
  }

  20%,
  24%,
  55% {
    box-shadow:
      0 0 3px rgb(var(--groupr-main) / 45%),
      0 0 8px rgb(var(--groupr-main) / 15%);
  }

  21%,
  56% {
    box-shadow:
      0 0 8px rgb(var(--groupr-main) / 95%),
      0 0 18px rgb(var(--groupr-main) / 35%);
  }
}

@keyframes orbit-scroll {
  to {
    transform: translateX(calc(-50% - (1rem / 2)));
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
