:root {
  --color-light: #ffecd6;
  --color-accent1: #ffb873;
  --color-accent2: #cb765c;
  --color-accent3: #7a4a5a;
  --color-dark: #25213e;
  --color-dark-contrast: #39335f;

  --rgb-dark: 37 33 62;
  --rgb-dark-contrast: 57 51 95;
  --rgb-light: 255 236 214;
  --rgb-accent1: 255 184 115;
  --rgb-accent2: 203 118 92;
  --rgb-accent3: 122 74 90;

  --font-heading: "Bodoni Moda", serif;
  --font-body: "Space Mono", monospace;
}

/* CASIO BASIC */
.biosynt7b,
.g6 {
  --groupc-main: #83b07e;
  --groupc-accent: #17141c;
  --groupr-main: 131 176 126;
  --groupr-accent: 23 20 28;
  --groupn: "BIOSYNT-7B";
}

/* CHOCONANA-2 */
.syntek22n,
.g7 {
  --groupc-main: #ffffa1;
  --groupc-accent: #250c02;
  --groupr-main: 255 255 161;
  --groupr-accent: 37 12 2;
  --groupn: "SYNTEK-22N";
}

/* REESES PUFFS 1-BIT */
.human,
.g8 {
  --groupc-main: #cb9867;
  --groupc-accent: #6f4d3d;
  --groupr-main: 203 152 103;
  --groupr-accent: 111 77 61;
  --groupn: "HUMAN";
}

/* MAC PAINT */
.lunarborn,
.g9 {
  --groupc-main: #8bc8fe;
  --groupc-accent: #051b2c;
  --groupr-main: 139 200 254;
  --groupr-accent: 5 27 44;
  --groupn: "LUNARBORN";
}

/* MACAO 12 */
.monk,
.g10 {
  --groupc-main: #ef243a;
  --groupc-accent: #fff2df;
  --groupr-main: 239 36 58;
  --groupr-accent: 255 242 223;
  --groupn: "MONK";
}

/* Y'S POSTAPOCALYPTIC SUNSET */
.wiccan,
.g11 {
  --groupc-main: #f44e38;
  --groupc-accent: #1d0f44;
  --groupr-main: 244 78 56;
  --groupr-accent: 29 15 68;
  --groupn: "WICCAN";
}
