:root {
  --color-light: #ffecd6;
  --color-accent1: #ffb873;
  --color-accent2: #cb765c;
  --color-accent3: #7a4a5a;
  --color-dark: #25213e;
  --color-dark-contrast: #39335f;

  --rgb-dark: 37 33 62;
  --rgb-dark-contrast: 57 51 95;
  --rgb-light: 255 236 214;
  --rgb-accent1: 255 184 115;
  --rgb-accent2: 203 118 92;
  --rgb-accent3: 122 74 90;

  --font-heading: "Bodoni Moda", serif;
  --font-body: "Space Mono", monospace;
  --font-display: "Iceland", sans-serif;
}

.g,
.g2,
.g3,
.g5 {
  --groupc-main: var(--color-dark-contrast);
  --groupc-accent: var(--color-dark);
  --groupr-main: var(--rgb-dark-contrast);
  --groupr-accent: var(--rgb-dark);
  --groupn: "None";
}

.admin,
.g4 {
  --groupc-main: #fca790;
  --groupc-accent: #290b17;
  --groupr-main: 252 167 144;
  --groupr-accent: 41 11 23;
  --groupn: "ADMIN";
}

/* CASIO BASIC */
.biosynt7b,
.g8 {
  --groupc-main: #83b07e;
  --groupc-accent: #17141c;
  --groupr-main: 131 176 126;
  --groupr-accent: 23 20 28;
  --groupn: "BIOSYNT-7B";
}

/* CHOCONANA-2 */
.engineer,
.g9 {
  --groupc-main: #ffffa1;
  --groupc-accent: #250c02;
  --groupr-main: 255 255 161;
  --groupr-accent: 37 12 2;
  --groupn: "ENGINEER";
}

/* REESES PUFFS 1-BIT */
.human,
.g6 {
  --groupc-main: #cb9867;
  --groupc-accent: #6f4d3d;
  --groupr-main: 203 152 103;
  --groupr-accent: 111 77 61;
  --groupn: "HUMAN";
}

/* MAC PAINT */
.lunarborn,
.g7 {
  --groupc-main: #8bc8fe;
  --groupc-accent: #051b2c;
  --groupr-main: 139 200 254;
  --groupr-accent: 5 27 44;
  --groupn: "LUNARBORN";
}
