form {
  display: inline;
}

#userlinks,
#delcookiesrow,
#recent-topics,
#logostrip,
#submenu {
  display: none;
}

#submenu+div[align="center"] {
  display: none;
}

#userlinks+br,
.SF table+br {
  display: none;
}

#redirect-screen {
  background-color: #110c22;
}

/****************************************
   UserCP/My Controls styles
*****************************************/

#ucpmenu {
  line-height: 150%;
  width: 22%;
}

#ucpmenu p {}

#ucpcontent {
  line-height: 150%;
  width: auto;
}

#ucpcontent p {}

/****************************************
  Search Bar 
*****************************************/

#searchbar {}

#searchbar .search-container {}

#searchbar .search-input {}

#searchbar .search-input:focus {}

#searchbar .search-button {}

/****************************************
  Navigation Bar / Submenu
*****************************************/

#submenu {
  display: none;
}

#navi br {
  display: none;
}

#navstrip {}

/****************************************
   Topic View styles
*****************************************/

.activeuserstrip {}

.postlinksbar {}

/*******************************
 Pagination e.g. [1],2,3 ...
*******************************/

.pagination a:link,
.pagination a:visited,
.pagination a:active {}

.pagination a:hover {}

.pagination .pagination_current {}

.pagination_first,
.pagination_last,
.pagination_page {}

.pagination_pagetxt {
  display: none;
}

/****************************************
   Global general table/div row styles
*****************************************/

.row1,
.row3,
.row4,
.row2 {}

.row2 {
  border-radius: 8px;
  width: 100%;
  background: linear-gradient(to bottom, rgb(var(--rgb-dark) / 0.2), rgb(var(--rgb-dark-contrast) / 0.2));
  backdrop-filter: blur(4px);
  border: 1px solid #000;
  padding: 1rem !important;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;

  box-shadow:
    /* outside depth */
    0 8px 24px rgb(0 0 0 / 0.15),

    /* bright upper/left inner edge */
    inset 1px 1px 0 rgb(90 90 90 / 0.35),

    /* darker lower/right inner edge */
    inset -1px -1px 0 rgb(0 0 0 / 0.15);
}

.darkrow1 {}

.darkrow2 {
  border-radius: 8px;
  width: 100%;
  background: rgb(0 0 0 / 0.2);
  backdrop-filter: blur(4px);
  border: 1px solid #000;
  padding: 12px 20px !important;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  box-shadow:
    /* outside depth */
    0 8px 24px rgb(0 0 0 / 0.15),

    /* bright upper/left inner edge */
    inset 1px 1px 0 rgb(90 90 90 / 0.35),

    /* darker lower/right inner edge */
    inset -1px -1px 0 rgb(0 0 0 / 0.15);
}

td.darkrow2 {
  display: none;
}

.darkrow3 {}

.hlight {}

.dlight {}

/****************************************
   Top table bars / gradient holders 
*****************************************/

.maintitle {}

/****************************************
  Bar directly below the maintitles 
*****************************************/

.titlemedium {}

/****************************************
  Table & Div Borders 
*****************************************/

.tableborder {}

.tablefill {}

.tablepad {}

.tablebasic {}

.plainborder {}

/****************************************
  QUOTE and CODE BBCode boxes
*****************************************/

#QUOTE {}

#CODE {}


/**********************************************
  Input buttons, e.g. submit, text input, etc
***********************************************/

.button-large {
  min-width: 75px;
  display: inline-flex;
  border-radius: 8px;
  background: linear-gradient(to bottom right, rgb(var(--rgb-dark) / 0.2), rgb(var(--rgb-accent3) / 0.2));
  backdrop-filter: blur(4px);
  border: 1px solid #000;
  padding: 10px 18px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: all 0.1s 0.15s ease;

  box-shadow:
    /* outside depth */
    0 8px 24px rgb(0 0 0 / 0.15),

    /* bright upper/left inner edge */
    inset 1px 1px 0 rgb(90 90 90 / 0.35),

    /* darker lower/right inner edge */
    inset -1px -1px 0 rgb(0 0 0 / 0.15);

  &:hover {
    box-shadow:
      0 12px 32px rgb(0 0 0 / 0.22),
      inset 1px 1px 0 rgb(120 120 120 / 0.45),
      inset -1px -1px 0 rgb(0 0 0 / 0.18);
  }

  &:active {
    transform: translateY(1px);

    box-shadow:
      0 4px 12px rgb(0 0 0 / 0.15),
      inset 2px 2px 3px rgb(0 0 0 / 0.2),
      inset -1px -1px 1px rgb(255 255 255 / 0.08);
  }
}


.button-small {
  min-width: 50px;
  max-width: 80px;
}

.post-buttons-top {
  margin-top: 3px;
}

.button-large.closed {}

.forminput,
.codebuttons,
.textinput,
.radiobutton,
.checkbox {
  border-radius: 2px;
  background: #FFF;
  border: 1px solid #545454;
  color: #000;
  font-family: Arial, sans-serif;
  font-size: 12px;
  padding: 2px;
  vertical-align: middle;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) inset;
}


input[type=submit],
input[type=button],
input[type=reset] {
  background: #800000 url(//files.jcink.net/themes/default/red-gradient.png);
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  color: #FFFFFF;
  font-size: 11px;
  font-weight: bold;
  margin: 3px;
  padding: 2px 6px;
  text-decoration: none;
  border: none;
}

.codebuttons {
  font-size: 10px;
}


/****************************************
  Form table cell styles, left/right/top
*****************************************/

.pformstrip {}

.pformleft {}

.pformleftw {}

.pformright {}

/****************************************
   Delete all cookies / mark read
*****************************************/

#delcookiesrow,
#mark-as-read-subto {
  display: none;
}

#mark-as-read-subto {
  float: none;
  padding-top: 3px;
}

/********************************
	Miscellaneous
********************************/

/* image tag styles */
img {
  vertical-align: middle;
  border: 0px
}

img.attach {
  border: 2px outset #555;
  padding: 2px
}

/* Edited by text */
.edit {
  font-size: 9px
}

/* Topic Macros */

.wrapmini {
  display: none;
}

/* Latest news area */
.newstext {
  display: none;
}

/* Highlighted text in search */
.searchlite {}

/***********************************
 Copyright: Removal is against Terms
************************************/

.copyright {}
