<div class="board g{{ groupid }} fid-{{ fid }}">
  <div class="board-image">
    <div class="board-image-img"></div>
  </div>
  <div class="board-area">
    <div class="board-info">
      <div class="board-title">
        <div class="board-count">
          <span class="topic-count">34 topics</span>
          <span class="reply-count">123 replies</span>
        </div>
        <a href="topics.html" class="title-href">{{ title }}</a>
      </div>
      <div class="board-description">{{ desc }}</div>
    </div>
    <div class="board-status">
      <div class="last-poster-av">
        <img
          src="https://i.pinimg.com/736x/52/5f/47/525f474e766011a0514b0aac94426b8d.jpg"
        />
      </div>
      <div class="last-poster-stats">
        <div class="stat-item">
          Sep 13 2026, 10:29 AM
          <div class="sep"></div>
          <span>posted</span>
        </div>
        <div class="stat-item">
          <a href="#">Cleo Søderberg-Hawthorne</a>
          <div class="sep"></div>
          <span>author</span>
        </div>
        <a href="#" class="latest-topic">all i hear is heavy metal</a>
      </div>
    </div>
  </div>
</div>
