<div class="boards-wrapper">
  <div class="category-wrapper">
    <div class="category-title">
      <span>01.</span>
      <a href="?c=">new bergen</a>
    </div>

    <include
      src="src/partials/board.html"
      locals='{
                    "groupid": "11",
                    "fid": "1",
                    "title": "Little Scandinavia",
                    "desc": "..."

                  }'
    >
    </include>

    <include
      src="src/partials/board.html"
      locals='{
                    "groupid": "9",
                    "fid": "2",
                    "title": "Eden",
                    "desc": "..."
                  }'
    >
    </include>
  </div>

  <div class="category-wrapper">
    <div class="category-title">
      <span>02.</span>
      <a href="?c=">str-l18 // starlight</a>
    </div>

    <include
      src="src/partials/board.html"
      locals='{
                    "groupid": "8",
                    "fid": "3",
                    "title": "SAGE District",
                    "desc": "..."
                  }'
    >
    </include>
  </div>
  <include src="src/partials/board_stats.html"></include>
</div>
