<div class="board-stats">
  <div class="header-top dark">
    <ul class="strlite-nav">
      <li><a href="#">top posters</a></li>
      <li><a href="#">22 characters</a></li>
      <li><a href="#">board stats</a></li>
      <li><a href="#">staff</a></li>
    </ul>
    <div class="quick-links">
      <a href="#">last click</a>
      <a href="#">member name</a>
    </div>
  </div>
  <div class="stats-area">
    <div class="onlines">
      <div class="header">
        <span class="prefix">board stats</span>
        <span class="ttle"><x>443</x> total posts</span>
      </div>
      <div class="header">
        <span class="prefix">online now</span>
        <span class="ttle">
          <x>2</x> member(s), <x>1</x> guest(s), <x>0</x> anon(s)
        </span>
      </div>
      <div class="online-list">
        <a href="#"> <span class="g9">Arden St.Clair-Moreau</span> </a>,
        <a href="#"> <span class="g8">Asker Vandenberg</span> </a>,
        <a href="#"> <span class="g11">Cleo Søderberg-Hawthorne</span> </a>,
      </div>
      <div class="header">
        <span class="prefix">online today</span>
        <span class="ttle"> <x>22</x> total </span>
      </div>
      <div class="today-list">
        <a href="#">asker vandenberg</a>, <a href="#">asker vandenberg</a>,
        <a href="#">asker vandenberg</a>, <a href="#">asker vandenberg</a>,
      </div>
      <div class="header">
        <span class="prefix">newest member</span>
        <a href="#" class="ttle">
          <x>arden st.clair-moreau</x>
        </a>
      </div>
    </div>
  </div>
</div>
