<div class="boards-wrapper">
  <div class="category-wrapper">
    <div class="category-title">
      <span>01.</span>
      <a href="?c=">new bergen</a>
    </div>

    <include
      src="src/partials/board.html"
      locals='{
                    "groupid": "11",
                    "fid": "1",
                    "title": "Little Scandinavia",
                    "desc": "..."

                  }'
    >
    </include>

    <include
      src="src/partials/board.html"
      locals='{
                    "groupid": "9",
                    "fid": "2",
                    "title": "Eden",
                    "desc": "..."
                  }'
    >
    </include>
  </div>

  <div class="category-wrapper">
    <div class="category-title">
      <span>02.</span>
      <a href="?c=">str-l18 // starlight</a>
    </div>

    <include
      src="src/partials/board.html"
      locals='{
                    "groupid": "8",
                    "fid": "3",
                    "title": "SAGE District",
                    "desc": "..."
                  }'
    >
    </include>
  </div>
  <div class="board-stats">
    <div class="header-top dark">
      <ul class="strlite-nav">
        <li><a href="#">top posters</a></li>
        <li><a href="#">22 characters</a></li>
        <li><a href="#">board stats</a></li>
        <li><a href="#">staff</a></li>
      </ul>
      <div class="quick-links">
        <a href="#">last click</a>
        <a href="#">member name</a>
      </div>
    </div>
    <div class="stats-area">board stats are hard</div>
  </div>
</div>
