<div class="header-top">
  <ul class="strlite-nav">
    <li><a href="#">home</a></li>
    <li><a href="#">member groups</a></li>
    <li><a href="#">roster</a></li>
    <li><a href="#">database</a></li>
    <li><a href="#">codes</a></li>
  </ul>
  <div class="quick-links">
    <a href="#">active topics</a>
    <a href="#">new posts</a>
    <button class="cmd">
      <span class="keycode">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="12"
          height="12"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-command preview-icon"
        >
          <path
            d="M15 6v12a3 3 0 1 0 3-3H6a3 3 0 1 0 3 3V6a3 3 0 1 0-3 3h12a3 3 0 1 0-3-3"
          />
        </svg>
      </span>
      <span class="keycode">K</span>
      <span>Search</span>
    </button>
  </div>
</div>
<div class="header-body">
  <div class="stlite-header">
    <h1 class="stlite-title"><em>starlight</em></h1>
    <h2 class="stlite-subtitle">
      All the souls that would die just to feel alive
    </h2>
  </div>
</div>
<div class="header-footer">
  <span class="designation"><x>STR-L18</x> // <y>STARLIGHT</y></span>
</div>
