<div class="header-top">
  <ul class="strlite-nav">
    <li><a href="#">home</a></li>
    <li><a href="#">member groups</a></li>
    <li><a href="#">roster</a></li>
    <li><a href="#">lore</a></li>
  </ul>
  <div class="quick-links">
    <a href="#">active topics</a>
    <a href="#">new posts</a>
  </div>
</div>
<div class="header-body">
  <div class="stlite-header">
    <h1 class="stlite-title"><em>starlight</em></h1>
    <h2 class="stlite-subtitle">
      All the souls that would die just to feel alive
    </h2>
  </div>
</div>
<div class="header-footer">
  <span class="designation"><x>STR-L18</x> // <y>STARLIGHT</y></span>
</div>
