<div
  data-name="{{ displayName }}"
  data-faceclaim="{{ fc }}"
  data-pronouns="{{ pronouns }}"
  data-group="{{ group }}"
  data-affiliation="Independent"
  data-residence="Not specified"
  data-player="Ghosty"
  class="member-row g{{ gid }}"
>
  <div class="section-header">
    <div class="member">
      <span class="label">002</span>
      <a href="#" class="value group"> {{ fullName }} </a>
    </div>
    <div class="memdata">
      <span class="counter"> <y>30</y> posts </span>
      <span class="sep"></span>
      <span class="counter">played by <y>ghosty</y></span>
    </div>
  </div>
  <div class="member-info">
    <div class="visual">
      <img src="{{ img }}" />
    </div>
    <div class="character">
      <a class="name" href="#?showuser=">{{ displayName }}</a>
      <div class="row">
        <span class="val">{{ age }} y/o</span>
        <span class="sep"></span>
        <span class="val">{{ pronouns }}</span>
        <span class="sep"></span>
        <span class="val">Independent</span>
        <span class="sep"></span>
        <span class="val">{{ fc }}</span>
      </div>
    </div>
  </div>
</div>
