<div class="strail">
  <div class="floaty-mcfloat g{{ gid }}">
    <div class="header">
      <span>identity</span>
      <a href="?showuser=">Arden St. Clair-Moreau</a>
    </div>
    <div class="user-controls">
      <div class="avatar">
        <img
          src="https://64.media.tumblr.com/07ddb4598c49ec3997f6240425d31c1c/b6fbfb9d38209845-cf/s540x810/8aec44bde6ca1d23712cf435cca067070b820348.gifv"
        />
      </div>
      <div class="controls">
        <a href="#">edit profile</a>
        <a href="#"><span>0</span> alerts</a>
        <a href="#"><span>0</span> messages</a>
        <a href="#">sign out</a>
        <a href="#">admin cp</a>
      </div>
    </div>

    <div style="height: 1.5rem"></div>

    <div class="header rts">
      <span>recent</span>
      topics
    </div>
    <ul class="recent-topics-list">
      <li class="rt-item">
        <span class="rt-date">13 seconds ago</span>
        <a href="#" class="rt-topic"> cold damn vampires </a>
        <a class="rt-author" href="#">Arden St. Clair-Moreau</a>
      </li>
      <li class="rt-item">
        <span class="rt-date">13 seconds ago</span>
        <a href="#" class="rt-topic"> all i hear is heavy metal </a>
        <a class="rt-author" href="#">Cleo Søderberg-Hawthorne</a>
      </li>
      <li class="rt-item">
        <span class="rt-date">13 seconds ago</span>
        <a href="#" class="rt-topic"> empty rooms</a>
        <a class="rt-author" href="#">Asker Vandenberg</a>
      </li>
      <li class="rt-item">
        <span class="rt-date">13 seconds ago</span>
        <a href="#" class="rt-topic"> cold damn vampires </a>
        <a class="rt-author" href="#">Arden St. Clair-Moreau</a>
      </li>
      <li class="rt-item">
        <span class="rt-date">13 seconds ago</span>
        <a href="#" class="rt-topic"> all i hear is heavy metal </a>
        <a class="rt-author" href="#">Cleo Søderberg-Hawthorne</a>
      </li>
      <li class="rt-item">
        <span class="rt-date">13 seconds ago</span>
        <a href="#" class="rt-topic"> empty rooms</a>
        <a class="rt-author" href="#">Asker Vandenberg</a>
      </li>
    </ul>
  </div>
</div>
