<include src="src/partials/jcink/topics_header.html"></include>

<div class="category-wrapper no-mb">
  <div class="category-title">
    <span>01.</span>
    <a href="?showforum=<!-- |forum_id| -->">little scandinavia</a>
  </div>

  <include
    src="src/partials/topic.html"
    locals='{ "gid": "6", "title": "i was throwing stones at mercury" }'
  ></include>
  <include
    src="src/partials/topic.html"
    locals='{ "gid": "9", "title": "not laying in bed with a fucked up head" }'
  ></include>
  <include
    src="src/partials/topic.html"
    locals='{ "gid": "8", "title": "baby, are you really down?" }'
  ></include>
</div>

<include src="src/partials/jcink/topics_footer.html"></include>
