<div class="str-topic g{{ gid }}">
  <div class="topic-meta">
    <div class="meta-info">
      <span class="topic-type">Regular //</span>
      <div class="topic-counts">
        <span class="topic-replies"><x>123</x> replies</span>
        <span class="topic-views"><x>987</x> views</span>
      </div>
    </div>
    <input type="checkbox" />
  </div>
  <div class="topic-title-wrapper">
    <a href="#" class="topictt">{{ title }}</a>
    <div class="topic-dd">
      this is a description (Pages: <a href="#">1</a>, <a href="#">2</a>)
    </div>
  </div>
  <div class="topic-authors">
    <div class="topic-starter g8">
      <span class="date">Sep 12 2026, 01:47 PM</span>
      <a href="?showuser=" class="author">asker vandenberg</a>
    </div>
    <div class="topic-poster g{{ gid }}">
      <span class="date">Sep 12 2026, 01:47 PM</span>
      <a href="?showuser=" class="author">Cleo Søderberg-Hawthorne</a>
    </div>
  </div>
</div>
