<div class="activeuserstrip">
  1 User(s) are reading this topic (0 Guests and 0 Anonymous Users)
</div>
<div class="row2" style="padding: 6px">
  1 Members:
  <a href="https://starlightrp.space/index.php?showuser=1"
    ><span class="admin">Ghosty</span></a
  >
</div>
<div class="activeuserstrip" align="center">
  <!--SOCIAL_BOOKMARKS-->
  «
  <a href="https://starlightrp.space/index.php?showtopic=1&amp;view=old"
    >Next Oldest</a
  >
  |
  <strong
    ><a href="https://starlightrp.space/index.php?showforum=2"
      >Trash Can</a
    ></strong
  >
  |
  <a href="https://starlightrp.space/index.php?showtopic=1&amp;view=new"
    >Next Newest</a
  >
  »
</div>
<table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tbody>
    <tr>
      <td align="left" width="20%" nowrap="nowrap">
        <a
          href="javascript:$('#topic_open').toggle();void(0);"
          title="Open Topic Options"
          ><div class="button-large">Topic Options</div></a
        >
      </td>
      <td align="right" width="80%">
        <a
          href="https://starlightrp.space/index.php?act=Post&amp;CODE=02&amp;f=2&amp;t=1&amp;st="
          ><div class="button-large">Add Reply</div></a
        ><!--IBF.QUICK_REPLY_CLOSED--><a
          href="https://starlightrp.space/index.php?act=Post&amp;CODE=00&amp;f=2"
          title="Start a new topic"
          ><div class="button-large">New Topic</div></a
        ><a
          href="https://starlightrp.space/index.php?act=Post&amp;CODE=10&amp;f=2"
          ><div class="button-large">New Poll</div></a
        >
      </td>
    </tr>
  </tbody>
</table>
