<table width="100%" cellpadding="0" cellspacing="0" border="0">
  <tbody>
    <tr>
      <td align="left" width="20%" nowrap="nowrap">
        <span class="pagination">&nbsp;</span>
      </td>
      <td align="right" width="80%">
        <a
          href="https://starlight.jcink.net/index.php?act=Post&amp;CODE=00&amp;f=3"
          ><div class="button-large">New Topic</div></a
        ><a
          href="https://starlight.jcink.net/index.php?act=Post&amp;CODE=10&amp;f=3"
          ><div class="button-large">New Poll</div></a
        >
      </td>
    </tr>
  </tbody>
</table>
<br />
